.container-city
    height: fit-content
    width: 100%
    padding: 0 4rem

    .container-info
        height: 56.1rem
        width: 100%
        display: flex
        flex-wrap: wrap
        margin-top: 3.2rem
        margin-bottom: 5.2rem

        .imagen
            padding-right: 4rem
            img
                height: 54.8rem
                width: 46.6rem
            
        .info
            height: 54.8rem
            width: 68.4rem

            h1 
                color: $state-main
                font-size: $title-page-medium

            span
                    color: $button-primary

            p
                margin-top: 2.4rem
                font-size: $subtitle-small
                color: $state-inactive

    .mapa
        height: 73.2rem
        width: 100%

        img
            margin-top: 8.89rem

        .start
            position: absolute
            left: 41.5rem
            top: 105.1rem

        .text-inicio
            position: absolute
            left: 43.5rem
            top: 105.5rem
            font-size: $button-small
            color: $button-primary

        .guia
            position: absolute
            display: none
            pointer-events: none
            left: 9.5rem
            top: 109rem
            transform: rotate(4deg)
            
        .left-1
            // float: left
            position: absolute
            left: 4rem
            top: 117.8rem
        
        .left-2
            position: absolute
            left: 5.9rem
            top: 122.3rem

        .left-3
            position: absolute
            left: 5.9rem
            top: 125.5rem
            rotate: 1deg
            
        .left-ball
            position: absolute
            left: 5rem
            top: 112.9rem

        .left-ceramica
            position: absolute
            left: 3.7rem
            top: 110.2rem
        
        .left-tienda-1
            position: absolute
            left: 13.9rem
            top: 122.6rem

        .center-1
            position: absolute
            left: 23.1rem
            top: 106.9rem
            rotate: 1deg

        .center-parque
            position: absolute
            left: 31.6rem
            top: 119rem

        .center-escuela-sendero
            position: absolute
            left: 33.3rem
            top: 115rem
        
        .center-sendero-1
            position: absolute
            left: 34.7rem
            top: 111rem

        .center-escuela-sendero-2
            position: absolute
            left: 36rem
            top: 107.2rem
        
        .center-tienda-2
            position: absolute
            left: 27rem
            top: 126rem

        .center-2
            position: absolute
            left: 40.5rem
            top: 100.3rem
            rotate: -1deg
            transform: scale(1.03)

        .center-admin
            position: absolute
            left: 42.7rem
            top: 102rem
                        
        .center-3
            position: absolute
            left: 29.2rem
            top: 130.4rem
            transform: scale(0.9)

        .center-sendero
            position: absolute
            left: 33.5rem
            top: 121.3rem

        .center-tienda-3
            position: absolute
            left: 35.2rem
            top: 125.2rem
             
        .center-4
            position: absolute
            left: 29rem
            top: 136rem
            transform: scale(0.9)

        .center-5
            position: absolute
            left: 35.8rem
            top: 145.4rem
            transform: scale(0.9)
        
        .center-5-ceramica
            position: absolute
            left: 39.1rem
            top: 139.8rem
            transform: scale(1.2)

        .center-6
            position: absolute
            left: 23.3rem
            top: 134.8rem
            transform: scale(0.9)

        .center-admin-3
            position: absolute
            left: 33.8rem
            top: 138.9rem

        .center-salud
            position: absolute
            left: 31.5rem
            top: 136.8rem

        .center-policia
            position: absolute
            left: 30rem
            top: 134rem
        
        .center-ceramica-6
            position: absolute
            left: 29rem
            top: 142rem
            transform: scale(1.2)

        .center-7
            position: absolute
            left: 36.5rem
            top: 118.3rem
            rotate: -1deg
            
        .center-iglesia
            position: absolute
            left: 36.6rem
            top: 118.8rem

        .center-ceramica
            position: absolute
            left: 38.8rem
            top: 113rem
            transform: scale(1.4)
            
        .center-8
            position: absolute
            left: 38.1rem
            top: 135.3rem
            rotate: 4deg
            transform: scale(0.8)
            
        .center-9
            position: absolute
            left: 39.5rem
            top: 140.2rem
            transform: scale(0.9)

        .center-10
            position: absolute
            left: 46.8rem
            top: 134.5rem
            transform: scale(0.8)
            rotate: -3deg

        .center-admin-2
            position: absolute
            left:  50.5rem
            top: 131.4rem

        .center-alcaldia
            position: absolute
            left: 41rem
            top: 127.9rem
            transform: scale(0.9)
        
        .center-iglesia-2
            position: absolute
            left: 45.5rem
            top: 128.1rem
            transform: scale(0.9)
        
        .center-escuela
            position: absolute
            left: 46.3rem
            top: 131.5rem
            transform: scale(1.2)
        
        .center-11
            position: absolute
            left: 56.2rem
            top: 125.8rem
            transform: scale(0.9)
            rotate: 1deg
            
        .center-tienda-4
            position: absolute
            left: 59rem
            top: 121.4rem

        .center-ceramica-2
            position: absolute
            left: 57.2rem
            top: 124.5rem
        
        .center-ceramica-3
            position: absolute
            left: 58rem
            top: 128.3rem
            transform: scale(1.1)

        .center-tienda-5
            position: absolute
            left: 59rem
            top: 132.8rem
            transform: scale(0.88)

        .center-bosque
            position: absolute
            left: 59.3rem
            top: 137.4rem
                    
        .center-12
            position: absolute
            left: 68rem
            top: 119.2rem
            transform: scale(0.9)
        
        .center-museo
            position: absolute
            left: 48rem
            top: 140.5rem
        
        .center-ceramica-4
            position: absolute
            left: 49.5rem
            top: 146rem
            transform: scale(1.2)

        .center-iglesia-3
            position: absolute
            left: 69.5rem
            top: 144.5rem
        
        .center-tienda-6
            position: absolute
            left: 84.7rem
            top: 138.1rem

        .center-tienda-7
            position: absolute
            left: 84.84rem
            top: 113.9rem

        .center-tienda-8
            position: absolute
            left: 87.4rem
            top: 117.2rem

        .green
            position: absolute
            left: 82.1rem
            top: 87.9rem
            rotate: 0.9deg

        .sendero-right
            position: absolute
            left: 94.8rem
            top: 93.8rem
            rotate: -2deg

        .sendero-lineas
            position: absolute
            left: 96.4rem
            top: 104rem
            
        .punto-derecha-1
            position: absolute
            left: 101.9rem
            top: 114.2rem

        .punto-derecha-2
            position: absolute
            left: 102.1rem
            top: 118.3rem
        
        .punto-derecha-3
            position: absolute
            left: 106.3rem
            top: 121rem

        .punto-derecha-4
            position: absolute
            left: 110rem
            top: 121rem

        .punto-derecha-5
            position: absolute
            left: 113.8rem
            top: 121rem
        
        .right
            position: absolute
            left: 81.2rem
            top:  102.8rem
            transform: scale(0.9)

.footer
    margin-top: 6.4rem

        




            

            
