@import '_mixinsSwitch'

.title-create
    width: 100%
    height: 4rem
    display: flex
    justify-content: center

    h1
        font-size: $subtitle-medium

.container-form
    width: 100%
    display: flex
    margin-top: 2rem
    align-items: center
    justify-content: center

    .form
        gap: 1.2rem
        width: 40rem
        display: flex
        height: 30rem
        padding: 1.2rem
        flex-wrap: wrap
        align-items: center
        justify-content: center
        border-radius: $br-card
        background: $background-form

        .items-form
            gap: 1.2rem
            width: 40rem
            display: flex
            flex-wrap: wrap

            label, p
                width: 100%
                font-size: $heading-small

            input, textarea
                width: 100%
                outline: none
                height: 3.5rem
                padding: 0 1.6rem
                color: $state-span
                font-family: $font-family
                border-radius: $br-radius
                background: $background-system
                border: .17rem solid $state-inactive

                &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus
                        background: $background-system;
                        box-shadow: 0 0 0 1000px $background-system inset;
                        -webkit-box-shadow: 0 0 0 1000px $background-system inset;
                        transition: background-color  $background-system 5000s  ease-in-out 0s;

            span
                color: $state-error
                font-size: $body-small

        .container-button
            width: 100%
            height: 4rem
            display: flex
            align-items: center
            justify-content: center

            @include btnStandar(
                                $border: none,
                                $padding: 1rem 10rem,
                                $weight: 700,
                                $shadow: none,
                                $font-size: $button-small,
                                $br-rad: $br-radius,
                                $background: $button-primary,
                                $color: $button-color-ti-primary,
                                $width: 2rem,
                                $height: 2rem,
                                $background-animation: $background-darker
                            )


//? Create product
.content
    height: 90vdh
    background: $background-form
    box-shadow: 1px -2px 25px $button-secondary

    .form
        gap: 2rem
        width: 100%
        display: flex
        flex-wrap: wrap
        padding: 4rem
        justify-content: space-evenly

        .items
            gap: 1.2rem
            width: 34.4rem
            display: flex
            flex-wrap: wrap
            justify-content: start

            label
                width: 100%
                z-index: 1
                font-weight: 600
                font-size: $subheading-small

            input, select
                width: 100%
                height: 4rem
                border: none
                outline: none
                color: $state-span
                padding-left: .8rem
                font-size: $button-small
                border-radius: $br-radius
                background: $background-form
                border: 1px solid $state-inactive





            .errors
                color: $state-error
                font-size: $body-small

            select
                height: 5rem

        .items-des
            width: 91%

        .items-active
            p
                width: 100%
                font-size: $body-medium - .1rem

            @include Switch($leftAfter: 48.8rem, $topAfter: 99.3rem, $leftAfterActive: 53.9rem )


        .photo_paths
            padding: 0
            margin: 0
            height: 30rem
            display: flex
            width: 91.19%
            pointer-events: none
            justify-content: space-around

            .add-image
                gap: 1.2rem
                width: 35rem
                display: flex
                overflow: hidden
                margin-left: -2rem
                padding-left: .5rem
                flex-direction: column

                .label
                    width: 15rem
                    pointer-events: auto

                input
                    border: none
                    margin-left: -.9rem
                    height: 24.6rem
                    width: 35.9rem

                    &[type="file"]::file-selector-button
                        border: none
                        width: 34.4rem
                        appearance: none
                        height: 24.6rem
                        cursor: pointer;
                        padding: 8px 16px;
                        font-weight: bold;
                        pointer-events: auto
                        border-radius: 8px;
                        color: transparent;
                        background-color: inherit;
                        transition: background 0.3s;
                        border: .17rem solid $button-primary

                .p, svg, small
                    position: absolute

                .p
                    top: 24.5%
                    left: 27%
                    font-weight: 400
                    color: $state-span
                    translate: -50% -50%
                    font-size: $body-medium

                svg
                    top: 20%
                    width: 2rem
                    height: 2rem
                    left: 27.2%
                    translate: -50% -50%

                small
                    top: 28%
                    left: 28.494%
                    font-weight: 400
                    color: $state-span
                    translate: -50% -50%
                    font-size: $body-small

            .view-image
                width: 35rem
                height: 27rem
                overflow-y: auto
                overflow-x: hidden
                pointer-events: auto

                .container-image
                    gap: 1rem
                    padding: .8rem
                    width: 35rem
                    height: 6rem
                    display: flex
                    overflow: hidden
                    margin-top: 1rem
                    align-items: center
                    background: $button-primary

                    img
                        width: 13rem
                        height: 5.5rem

                    .name-image
                        color: $state-light
                        font-size: $body-medium
        .container-button
            width: 100%
            display: flex
            justify-content: center


            @include btnStandar(
                                $border: none,
                                $padding: 1rem 10rem,
                                $weight: 700,
                                $shadow: none,
                                $font-size: $button-small,
                                $br-rad: $br-radius,
                                $background: $button-primary,
                                $color: $button-color-ti-primary,
                                $width: 2rem,
                                $height: 2rem,
                                $background-animation: $background-darker
                            )
.contenido
    width: 100%
    display: flex
    flex-wrap: wrap

    .form-group
        display: flex
        gap: 1.2rem
        width: 23rem
        flex-wrap: wrap

        label
            font-size: $subheading-small

        input
                width: 30rem
                height: 4rem
                border: none
                outline: none
                color: $state-span
                padding-left: .8rem
                font-size: $button-small
                border-radius: $br-radius
                background: $background-form
                border: 1px solid $state-inactive

    .permisos
        width: 85rem
        display: flex
        flex-wrap: wrap
        margin-top: 1.2rem
        gap: 1rem

        h3
            width: 100%
            font-size: $subheading-small

        .items
            width:25rem
            display: flex


            label
                font-size: $body-medium

    .container
        margin-bottom: 3rem
        margin-top: 3rem
        @include btnStandar(
                                $border: none,
                                $padding: 1rem 10rem,
                                $weight: 700,
                                $shadow: none,
                                $font-size: $button-small,
                                $br-rad: $br-radius,
                                $background: $button-primary,
                                $color: $button-color-ti-primary,
                                $width: 2rem,
                                $height: 2rem,
                                $background-animation: $background-darker
                            )

.create-user
    width: 100%
    display: flex
    flex-wrap: wrap

    .form
        gap: 1.2rem
        display: flex
        padding-left: 12rem
        flex-wrap: wrap

        .form-group
            gap: 1.2rem
            width: 23rem
            display: flex
            flex-wrap: wrap

            label
                font-size: $subheading-small

            input, select
                    width: 30rem
                    height: 4rem
                    border: none
                    outline: none
                    color: $state-span
                    padding-left: .8rem
                    font-size: $button-small
                    border-radius: $br-radius
                    background: $background-form
                    border: 1px solid $state-inactive

        .destacado
            border: 1px solid red
            display: flex
            flex-wrap: wrap

            label
                width: 100%
            @include Switch($leftAfter: 61rem, $topAfter: 21.6rem, $leftAfterActive: 66.5rem )


        .container-button
                width: 100%
                margin-left: 7rem
                margin-top: 1.2rem

                @include btnStandar(
                                $border: none,
                                $padding: 1rem 20rem,
                                $weight: 700,
                                $shadow: none,
                                $font-size: $button-small,
                                $br-rad: $br-radius,
                                $background: $button-primary,
                                $color: $button-color-ti-primary,
                                $width: 2rem,
                                $height: 2rem,
                                $background-animation: $background-darker
                            )

// Inventario
.container-form
    height: fit-content

    .formIn
        width: 100%
        overflow: hidden
        display: flex
        flex-wrap: wrap
        justify-content: center
        background: $background-system

        .item-form
            gap: 2rem
            width: 100%
            display: flex
            height: 9.8rem
            flex-wrap: wrap
            margin-top: 2.4rem

            label
                width: 47rem
                font-weight: 700
                font-size: $heading-small

            input, select, textarea
                width: 100%
                outline: none
                height: 5.1rem
                color: $state-span
                padding-left: 1.6rem
                border-radius: $br-radius
                font-size: $subheading-medium
                border: .1rem solid $state-inactive

            .subitems
                gap: 2rem
                width: 44rem
                display: flex
                flex-wrap: wrap

                label

                input
                    width: 47rem

        .stock
            width: 100%
            display: flex
            flex-wrap: nowrap

            .subitems
                width: 30rem

                input
                    width: 25rem

        .active
            display: flex
            flex-wrap: wrap
            height: fit-content
            justify-content: start

            label
                width: 100%

            p
                width: 100%
                font-size: $body-large

            @include Switch($leftAfter: .8rem, $topAfter: 91.2rem, $leftAfterActive: 6rem )

        .actions-form
            margin-top: 4rem
            margin-bottom: 3rem

            @include btnStandar(
                                $border: none,
                                $padding: 1rem 4rem,
                                $weight: 700,
                                $shadow: none,
                                $font-size: $button-small,
                                $br-rad: $br-radius,
                                $background: $button-primary,
                                $color: $button-color-ti-primary,
                                $width: 2rem,
                                $height: 2rem,
                                $background-animation: $background-darker
                            )
