.header-admin
    width: 95rem
    display: flex
    justify-content: space-between

    .title-header-admin
        gap: .8rem
        display: flex
        width: fit-content
        height: 4.4rem
        align-items: center

        img
            width: 3.2rem
            height: 3.2rem

        h1
            font-weight: 600
            color: $state-span
            font-size: $subtitle-medium



    .actions-header-admin
        z-index: 110
        gap: 1.6rem
        width: 20rem
        display: flex
        justify-content: end

        .items
            gap: .8rem
            display: flex
            width: fit-content
            padding: 1.2rem
            cursor: pointer
            align-items: center
            border-radius: $br-radius
            transition: $transition-fast

            svg
                width: 2.4rem
                height: 2.4rem

                path
                    fill: currentColor
                    color: $state-inactive

            span
                color: $state-inactive
                font-size: $subheading-small


            &:hover
                border-radius: $br-radius
                transition: $transition-fast
                background: $button-secondary

                span
                    color: $state-span

                svg path
                    fill: currrentColor
                    color: $button-primary

        .section
            width: 24.7rem
            padding: .8rem
            position: absolute
            height: fit-content
            border-radius: 2rem
            translate: -13.9rem 0
            background: $dropdown-content
            border: .2rem solid $button-secondary

            a, button
                gap: .8rem
                border: none
                display: flex
                cursor: pointer
                padding: 1.2rem
                text-decoration: none
                color: $state-inactive
                background: transparent
                border-radius: $br-radius
                transition: $transition-fast
                font-size: $subheading-small

                &:hover
                        transition: $transition-fast
                        background: $button-secondary
                        color: $button-color-ti-secondary

                svg path
                        fill: currentColor

                img
                    width: 2.4rem
                    height: 2.4rem

.text-body
    gap: 1.2rem
    width: 100% + 7%
    display: flex
    flex-wrap: wrap
    padding: 1.2rem 0
    margin-top: -0.5rem

    h1
        width: 100%
        color: $state-main
        font-size: $title-page-small

    p
        width:  100%
        font-weight: 400
        color: $state-inactive
        font-size: $body-medium
