@mixin btnStandar($padding, $font-size, $br-rad, $background, $color, $width, $height)
    .btn-class
        gap: .8rem
        border: none
        padding: $padding
        display: flex
        font-weight: bold
        align-items: center
        font-size: $font-size
        border-radius: $br-rad
        background: $background
        font-family: $font-family
        color: $color

        .icons
            width: $width
            height: $height

