// Personalización del contenedor principal
.multiselect
    width: 100%
    height: 5rem
    display: flex
    flex-wrap: wrap
    align-items: center
    overflow: auto
    padding: .4rem .8rem
    // outline: none
    font-size: $body-medium
    border-radius: $br-radius
    border: .1rem solid $state-inactive

    &--active
        border-color: #702b21 // Color del borde cuando está activo

    &--disabled
        background-color: $state-inactive
        cursor: not-allowed


.multiselect__content-wrapper
    height: 5rem
    display: flex
    z-index: 1000
    min-width: 30rem
    margin-top: 12rem
    width: fit-content
    position: absolute
    margin-left: -1rem
    background: transparent

    .multiselect__content
        gap: 4rem
        display: flex
        min-width: 55%
        width: fit-content
        list-style: none
        margin-top: .5rem
        // outline: none
        height: fit-content
        padding-left: .8rem
        background: $button-secondary
        border-radius: $br-radius

        .multiselect__option
            gap: .9rem
            display: flex
            margin: .5rem
            padding: .5rem
            cursor: pointer
            color: $state-span
            width: fit-content
            border-radius: $br-radius
            background: $button-secondary

            &--highlight
                color: $state-light
                background-color: #702b21

            &--selected
                color: #fff
                background-color: #702b21

            &--disabled
                color: #ccc
                cursor: not-allowed
// Personalización de las opciones



// Personalización de las etiquetas seleccionadas
.multiselect__tags
    display: flex
    width: fit-content

    .multiselect__tags-wrap
        display: flex
        width: fit-content
        gap: .8rem

.multiselect__tag
    color: $state-span
    padding: .1rem .8rem
    border-radius: $br-radius
    display: flex
    width: fit-content
    align-items: center
    height: fit-content
    flex-wrap: nowrap
    justify-content: center
    font-size: $body-medium
    background: $button-secondary
    transition: $transition-fast

    &-icon
        margin-left: 5px
        cursor: pointer
        width: 2rem
        height: 2rem
        background: url('/icons/icons-interface/x-icon.svg')
        background-repeat: no-repeat
        background-position: center
        color: white

        &:hover
            transform: scale(1.1)
            transition: $transition-fast

    span
        width: fit-content
        // text-wrap: none
        white-space: nowrap
        width: fit-content

    &:hover
        transition: $transition-fast

// Personalización de los mensajes
    .multiselect__placeholder
    color: $state-inactive

    .multiselect__no-options,
    .multiselect__no-results
    color: #999
    font-style: italic
    padding: 10px
