//? Estilos de texto
//todo font-family
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
$font-family: 'Noto Sans'

//? Segmentos de botón
    $button-small-text: 1.2rem
    $button-small: 1.6rem
    $button-medium: 2rem
    $button-large: 2.4rem

//? Contenido
    //* Titles
        $title-hero: 7.2rem
        $title-page-large: 6.4rem
        $title-page-medium: 4.8rem
        $title-page-small: 4rem

        //* Subtitles
            $subtitle-large: 4rem
            $subtitle-medium: 3.2rem
            $subtitle-small: 2.4rem

            //* Heading
                $heading-large: 3.2rem
                $heading-medium: 2.4rem
                $heading-small: 2rem

                //* Subheading
                    $subheading-large: 2.4rem
                    $subheading-medium: 2rem
                    $subheading-small: 1.6rem

                    //* Body
                        $body-large: 2rem
                        $body-medium: 1.6rem
                        $body-small: 1.2rem

